/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2017, 6:08:32 PM
    Author     : yyyaaazzz
*/

@import "common";

.page-404 {
    text-align: center;
    .jumbotron {
        font-size: 141px;
        color: #c4dec6;
        padding-top: 40px;
    }
}